#counter {
    background: dimgray;
    font-size: 20px;
    color: white;
    padding: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    background: rgb(235, 160, 160);
    font-size: 20px;
    color: white;
    padding: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
    
}

.cell {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;      
}

.row {
    display: inline-block;
    vertical-align: top;
}

img {
    width: 25px;
    height: 20px;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

body {
    background: url(../src/images/tropical.jpg);
    align-items: center;
    float: none;
    display: flex;
    align-items: center;
    overflow-x: auto;
    justify-content: center;
    padding-top: 20px;
}

#level {
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}

button {
    transition-duration: 0.4s; 
    background-color: mistyrose;
}
      
button:hover {
    background-color: darksalmon; /* Green */
    color: darkgray;
}

#link {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 10px;
    font-family: "Arial", Gadget, sans-serif;
    padding-bottom: 20px;
    padding-top: 10px;
}

a {
    color: plum;
}

a:hover {
    color: thistle;
}

#rules {
    color: maroon;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: "Arial", Gadget, sans-serif;
    padding-top: 10px;
    padding-bottom: 15px;
}

#buttons {
    display: block;
}
